@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-600;
  }

  p {
    @apply text-gray-600
  }

  html,
  body,
  div#__next {
    height: 100%;
  }
  html {
    overflow-y: scroll;
  }
  div#__next {
    display: flex;
    flex-direction: column;
  }
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
