@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-600;
  }

  p {
    @apply text-gray-600;
  }

  body {
    overflow-y: scroll;
  }

  html,
  body,
  div#__next {
    height: 100%;
  }

  div#__next {
    //overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  a {
    @apply text-blue-500 hover:text-blue-600;
  }
}

@layer components {
  .camp-listing-wrapper {
    @apply p-4 flex flex-col gap-4 max-w-screen-md mx-auto;
  }

  .admin-main-wrapper {
    @apply bg-gray-50 p-4 rounded-lg shadow-md border border-gray-100;
  }

  .button-admin {
    @apply flex px-2 py-0.5 bg-blue-500 text-white font-semibold rounded outline-none focus:ring justify-center items-center;
  }
  .button-admin:disabled {
    @apply bg-gray-300;
  }

  .suggestion-icon {
    @apply h-4 w-4 px-2 box-content fill-current;
  }

  .button {
    @apply transition-colors duration-75 py-3 px-4 rounded-xl text-gray-100 font-semibold text-lg focus:ring-2;
  }
}

@layer utilities {
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
  }

  .no-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}

/* .image-container {
  width: 100%;
}

.image-container > span {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
} */
